.button {
  border: none;
  border-radius: var(--border-radius-100);

  transition: var(--transition);

  &:hover,
  &:focus {
    outline: none;

    transform: translateY(-2px);
  }

  &.primary {
    background-color: var(--color-primary);
    color: var(--color-text-100);

    &:hover,
    &:focus {
      background-color: var(--color-primary-hover);
    }
  }

  &.danger {
    background-color: var(--color-danger);
    color: var(--color-text-100);

    &:hover,
    &:focus {
      background-color: var(--color-danger-hover);
    }
  }
}

.button:not(:has(a)) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  padding: 0.5rem;

  cursor: pointer;

  a {
    display: inline-block;

    inline-size: 100%;
  }
}

.button:has(a) {
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    padding: 0.5rem;

    inline-size: 100%;
  }
}
