.book-item {
  display: grid;

  gap: 0.25rem;

  color: var(--color-text-100);

  img {
    inline-size: 100%;

    border-radius: var(--border-radius-100);

    aspect-ratio: 0.65 / 1;
  }

  .data {
    background-color: var(--color-primary);

    border-radius: var(--border-radius-100);

    padding: 0.5rem;

    .title {
      text-align: start;

      font-weight: 700;

      overflow: hidden;

      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }

    p {
      text-align: justify;

      overflow: hidden;

      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;

      font-size: var(--fz-400);
      font-weight: 300;

      border-block: 1px solid var(--color-border-100);

      padding-block: 0.25rem;
      margin-block: 0.25rem;
    }

    div:last-child {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      align-items: center;
      justify-content: space-between;

      inline-size: 100%;

      font-weight: 700;

      span {
        display: flex;
        align-items: center;
        justify-content: space-between;

        transition: var(--transition);

        &:hover {
          color: var(--color-primary-hover-dark);

          transform: translateX(2px);
        }

        svg {
          font-size: 1.25rem;
        }
      }
    }
  }
}
