.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  gap: 1rem;

  position: sticky;
  inset-block-start: 0;

  background-color: var(--color-surface-300);
  border-block-end: 1px solid var(--color-border-100);

  padding-block: 1rem;
  margin-block: 1rem;

  z-index: 1;

  .logo {
    font-size: var(--fz-600);
    font-weight: 700;
  }

  nav {
    > ul {
      display: flex;
      gap: 2rem;

      > li {
        a {
          &:hover {
            color: var(--color-primary);
          }
          &.active {
            color: var(--color-primary);

            font-weight: 400;
          }
        }
      }
    }
  }
}
