.book {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, auto);

  grid-gap: 1rem;

  margin-block: 2rem;

  > *:where(p, span) {
    border-block-start: 1px solid var(--color-border-200);
    padding-block-start: 1rem;
  }

  img {
    grid-column: 1 / span 4;
    grid-row: 1 / -1;

    align-self: start;
    justify-self: stretch;

    object-fit: cover;
  }

  h3 {
    grid-column: 5 / -1;
    grid-row: 1 / span 1;
  }

  p:nth-child(3) {
    grid-column: 5 / -1;
    grid-row: 2 / span 1;
  }

  p:nth-child(4) {
    grid-column: 5 / -1;
    grid-row: 3 / span 1;

    white-space: pre-line;
  }

  p:nth-child(5) {
    grid-column: 5 / -1;
    grid-row: 4 / span 1;
  }

  span {
    grid-column: 5 / -1;
    grid-row: 5 / span 1;
  }

  button.delete {
    grid-column: 5 / -1;
    grid-row: 6 / span 1;
  }

  button.update {
    grid-column: 5 / -1;
    grid-row: 7 / span 1;
  }
}

.book-not-found {
  inline-size: 100%;
  block-size: 100%;

  display: grid;
  place-content: center;
  gap: 1rem;
}

@media (max-width: 767px) {
  .book {
    margin-block: 0.5rem;

    img {
      grid-column: 1 / span 5;
      grid-row: 1 / 2;
    }
    h3 {
      grid-column: 1 / -1;
      grid-row: 2 / 3;
    }
    p:nth-child(3) {
      grid-column: 1 / -1;
      grid-row: 3 / 4;
    }
    p:nth-child(4) {
      grid-column: 1 / -1;
      grid-row: 4 / 5;
    }
    p:nth-child(5) {
      grid-column: 1 / -1;
      grid-row: 5 / 6;
    }
    span {
      grid-column: 1 / -1;
      grid-row: 6 / 7;
    }
    button.delete {
      grid-column: 1 / -1;
      grid-row: 7 / 8;
    }
    button.update {
      grid-column: 1 / -1;
      grid-row: 8 / 9;
    }
  }
}

@media (max-width: 576px) {
  .book {
    img {
      grid-column: 1 / span 8;
    }
  }
}
